@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  } 
  :focus, :active {
    outline: none;
  }
  a:focus, a:active {
    outline: none;
  } 
  nav, footer, header, aside {
    display: block;
  }
  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  } 
  input, button, textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a, a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  } 
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
.error {
    margin-top: 10rem;
    margin-bottom: 2rem;
    background: #1D6E87;
}
.error__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: 370px;
}
.error__photo {
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.error__photo-img {
    width: 100%;
    height: auto;
}
.aside__title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.6rem;
    color: #FFFFFF;
}
.aside__title-small {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 4.8rem;
    line-height: 5.6rem;
    color: #FFFFFF;
}
.aside__sale-button {
    display: block;
    margin-bottom: 15px;
    padding: 1.5rem 10rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.8rem;
    background: #F84C48;
    color: #fff;
    border-radius: 6px;
}
.aside__link {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FFFFFF;
}
.main-page__title {
    margin-bottom: 10rem;
    text-align: center;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: #000000;
}
.form-page {
    background: #1D6E87;
    margin-bottom: 100px;
}
.form-page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.form-page__photo {
    -ms-flex-item-align: end;
        align-self: flex-end
}
.form__photo-img {
    height: auto;
    width: 100%;
}
.form {
    margin-top: 1.5rem;
}
.form__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.5rem;
    color: #FFFFFF;
}
.main-form__input {
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem 0.8rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    border-radius: 6px;
    color: #808080;
}
.main-form__button {
    padding: 1.5rem 4rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    background: #333333;
    color: #FFFFFF;
    border-radius: 6px;
}
.form__text {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #DFDFDF;
}
.footer {
    padding: 1rem 2rem;
    background: #333333;
}
.footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
}
.footer__submenu {
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.submenu__title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
    color: #FFFFFF;
}
.submenu__link {
    margin-bottom: 1rem;
    display: block;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #C6C6C6;
}
.submenu__info {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #FFFFFF;
}
.footer__body {
    margin: 1.5rem;
}
.footer__body-header {
    margin-bottom: 1.5rem;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #3F3F3F;
    border-radius: 6px;
}
.phone-box {
    margin-right: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.phone-box__link {
    display: block;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    color: #F84C48;
}
.e-mail-box {
    margin-bottom: 1rem;
}
.e-mail-box__link {
    margin-right: 3rem;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    color: #F84C48;
}
.e-mail-box__info {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #FFFFFF;
}
.adress-box {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #FFFFFF;
}
.adress-warning {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #F84C48;
}
.footer__body-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.payment {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #C4C4C4;
    border-radius: 6px;
}
.payment-box {
    padding: 0.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 68px;
    height: 72px;
    position: relative;
    background: #333333;
    border-radius: 6px;
}
.payment-box:not(:last-child) {
    margin-right: 1rem;
}
.payment-box__img {
    width: 100%;
    height: auto;
}
.payment-box__text {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -45px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem;
    color: #FFFFFF;
}
.socials__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.social__link {
    display: block;
    position: relative;
}
.social__link::before {
    content: "";
    position: absolute;
    border: 2px #fff solid;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
    margin: 0 auto;
}
.socials__text {
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: right;
    color: #FFFFFF;
}
.footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #FFFFFF;
}
.link {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #FFFFFF;
}
.html-map {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #FFFFFF;
}
@media screen and (max-width: 1220px) {
    .error__aside {
        position: absolute;
        right: 10px;
        text-align: center;
    }
    .error__photo-img {
        width: 85%;
    }
    .aside__title, 
    .aside__title-small {
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
    .aside__sale-button {
        padding: 1rem;
        display: inline-block;
    }
    .aside__sale-button, 
    .aside__link {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .main-page__title {
        font-size: 1.8rem;
        line-height: 2.1rem;
    }
    .form-page {
        padding: 1.5rem;
    }
    .form-page__photo {
        display: none;
    }
    .form-page__wrapper {
        max-height: 450px;
    }
    .main-form__input {
        margin-right: 0;
        margin-bottom: 1.5rem;
        width: 80%;
    }
    .footer__top {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .footer__body {
        margin: 1.5rem 0 0;
    }
    .footer__body-header {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-left: -2rem;
        margin-right: -1.9rem;
    }
    .footer__body-content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .phone-box {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
    }
    .e-mail-box__info {
        display: none;
    }
    .payment {
        padding: 0.7rem;
        margin-bottom: 1rem;
    }
    .payment-box:not(:last-child) {
        margin-right: 0.7rem;
    }
    .payment-box {
        padding: 0.1rem;
        max-width: 40px;
        max-height: 45px;
    }
    .payment-box__text {
        display: none;
    }
    .socials__text {
        font-weight: 300;
    }
    .footer__bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer__bottom__text {
        margin-bottom: 1rem;
    }
    .logo__link {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
}
@media screen and (max-width: 375px) {
    .footer__body-header {
        max-width: 300px;
    }
    .error {
        margin-top: 3rem;
    }
    .error__wrapper {
        max-height: 175px;
    }
}
@media screen and (max-width: 360px) {
    .payment {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .payment-box {
        margin-bottom: 0.7rem;
    }
    .socials__links {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .social__link::before {
        width: 50px;
        height: 50px;
    }
    .error__photo-img {
        margin-left: -2rem;
    }
    .main-form__input {
        width: 100%;
    }
}
/* верстка от 06.12.2020 */
.subscribe__title {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.15;
    text-align: center;
    color: #1D6E87;
}
.subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.subscribe__form div {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.subscribe__email {
    margin-right: 25px;
    padding: 10px;
    padding-right: 0;
    min-width: 455px;
    border: 6px solid #1D6E87;
    border-radius: 6px;
}
.subscribe__email::-webkit-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #808080;
}
.subscribe__email::-moz-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #808080;
}
.subscribe__email:-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #808080;
}
.subscribe__email::-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #808080;
}
.subscribe__email::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #808080;
}
.subscribe__form button {
    padding: 10px 55px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    background: #333333;
    border-radius: 6px;
}
.subscribe__checkbox {
    margin-right: 15px;
    vertical-align: middle;
}
.subscribe__checkbox-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #333333;
    z-index: 1;
}

.reviews {
    margin-bottom: 20px;
}
.reviews__title {
    margin-bottom: 30px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.15;
    color: #1D6E87;
}
.reviews__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.reviews__card {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    background-color: #FAFAFA;
    border-radius: 20px;
    overflow: hidden;
}
.card-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}
.card-top__image {
    margin-right: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
}
.card-top__image img {
    width: 100%;
    height: auto;
}
.rate__title {
    margin-bottom: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.1;
    color: #1D6E87;
}

.card-body {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.card-body__user-name {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    color: #1D6E87;
}
.card-body__text {
    margin-bottom: 5px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.1;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-body-btn {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.1;
    color: #1D6E87;
    background-color: transparent;
}
.card-bottom__date {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #1D6E87;
}

.reviews__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.reviews__btn button{
    padding: 10px 40px;
    font-size: 16px;
    line-height: 1.25;
    color: #888888;
    background: #ffffff;
    border: 1px solid #dad9d9;
    border-radius: 4px;
}
.reviews__line {
    padding-bottom: 40px;
    position: relative;
}
.reviews__line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 100%;
    background: #1D6E87;
    border-radius: 6px;
}
@media screen and (max-width: 1280px) {
    .reviews__cards {
        justify-content: space-evenly;
    }
    .reviews__card {
        flex: 0 0 45%;
    }
}
@media screen and (max-width: 1280px) {
    .reviews__card {
        flex: 0 0 40%;
    }
}
@media screen and (max-width: 768px) {
    .reviews__card {
        flex: 0 0 90%;
    }
    .subscribe {
        padding: 15px;
    }
    .subscribe__email {
        margin-right: 0;
        margin-bottom: 15px;
        min-width: 100%;
    }
    .subscribe__form div {
        justify-content: center;
    }
}
@media screen and (max-width: 425px) {
    .subscribe__title {
        text-align: left;
    }
}
@media screen and (max-width: 360px) {

}


.rate__wrap {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.rate__star:not(:last-child) {
    margin-right: 0.2rem;
}
.rate__star[data-item-value="5"] {
    fill: #4E4E4E;
}
.rate__star[data-item-value="4"],
.rate__star[data-item-value="3"],
.rate__star[data-item-value="2"],
.rate__star[data-item-value="1"] {
    fill: #FFEA06;
}
.reviews-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 32px;
    margin-bottom: 20px;
}
.reviews-nav span {
    display: inline-block;
    font-family: 'Roboto-Regular', serif;
    color: #ffffff;
    text-align: center;
    background: #1d6e87;
    border-radius: 4px;
    font-size: 17px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
}
.brands {
    padding-top: 30px;
}
.brands__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #333333;
    text-align: center;
}

.brands__letters {
    margin-bottom: 20px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.letter__btn {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    background-color: transparent;
    color: #1D6E87;
}
.brands__letters li:not(:last-child) {
    margin-right: 30px;
}
/* .letter__link:link,
.letter__link:visited,
.letter__link:focus,
.letter__link:hover {
    text-transform: uppercase;
    color: inherit;
} */
/* .brands__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.letter__wrap {
    margin-bottom: 25px;
    flex: 0 0 25%;
} */
.brand__letter {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 1.5;
    color: #1D6E87;
}
.brand__item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    color: #454545;
}
.brand__link:link,
.brand__link:visited,
.brand__link:focus,
.brand__link:hover {
    color: inherit;
}
.element-item {
    padding: 10px;
    width: 25%;
}
@media screen and (max-width: 992px) {
    .element-item {
        width: 33.33334%;
    }   
}
@media screen and (max-width: 768px) {
    .element-item {
        width: 50%;
    }   
}
@media screen and (max-width: 480px) {
    .element-item {
        width: 100%;
    }
    .brand__letter,
    .brand__letter ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .letter__btn {
        font-size: 16px;
    }
    .brand__item {
        font-size: 16px;
    }
    .brand__link:link, 
    .brand__link:visited, 
    .brand__link:focus, 
    .brand__link:hover {
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
    }
}

.price-list__header {
    margin-bottom: 30px;
    padding: 50px 0;
    background-color: #1D6E87;
}
.price-list__header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.price-list__body {
    margin-bottom: 40px;
}
.price__title {
    margin-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
}
.price__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}
.price-list__download {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download__text {
    margin-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.download__btn {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #F84C48;
    border-radius: 4px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-3 {
    padding: 0 15px;
    flex: 0 0 25%;

}
.download__link {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 4px solid #1D6E87;
    border-radius: 15px;
}
.download-link__icon {
    max-height: 64px;
}
.download-link__text {
    padding: 0 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    color: #1D6E87;
}
@media screen and (max-width: 480px) {
    .price-list__title {
        margin-bottom: 50px;
        text-align: center;
    }
    .col-3 {
        flex: 0 0 100%;
    
    }
    .download__link {
        margin-bottom: 18px;
    }
}
.contacts-page {
    margin-bottom: 50px;
}
.contact-page__header {
    background: #1D6E87;
}
.contact-header__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 277px;
}
.contact-header__photo {
    margin-right: 90px;
    max-width: 175px;
}

.contact-header__photo-img {
    width: 100%;
    height: auto;
}
.contact-header__items {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
}
.contact-header__item {
    font-size: inherit;
    color: inherit;
}
.contact-header__item span {
    font-size: 18px;
}
.contact-header__item:not(:last-child) {
    margin-bottom: 15px;
}

.contact-header__btn {
    margin-right: 20px;
    padding: 6px;
    display: inline-block;
    min-width: 242px;
}
.contact-header__btn:hover,
.contact-header__btn:focus {
    color: inherit;
}
.contact-header__mail-link {
    position: relative;
    color: inherit;
    background-color: #F84C48;
    border: 3px solid #F84C48;
    text-align: center;
    border-radius: 4px;
}
.contact-header__mail-link .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #f84c48;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    border-radius: 6px;
    padding: 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: opacity 0.3s;
}

.contact-header__mail-link .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 20%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f84c48 transparent;
}

.contact-header__mail-link:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.copy__text {
    margin: 0;
}
.contact-header__mail-link .copy__input {
    max-width: 205px;
    font-size: 24px;
    vertical-align: middle;
    background-color: transparent;
    outline: none;
    resize: none;
    overflow: hidden;
    cursor: pointer;
}
.copy__input:hover, .copy__input:focus {
    outline: none;
}
.contact-header__phone-link {
    box-sizing: border-box;
    text-align: center;
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    color: inherit;
}
.contact-page__body {
    padding-top: 20px
}
.plugin__comehere {
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.plugin__comehere__map {
    margin-right: 20px;
    width: 590px;
    height: 500px;
}
.contact-body__links {
    margin-bottom: 30px;
    text-align: center;
}
.contact-body__btn {
    padding: 10px 50px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #1D6E87;
    background: transparent;
    border: 3px solid #1D6E87;
    border-radius: 4px;
}
.contact-body__btn-active {
    color: #fff;
    background: #1D6E87;
}
.contact-footer__top {
    margin-bottom: 15px;
    background: #1D6E87;
}
.contact-footer__wrap {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-footer__photo {
    margin-right: 35px;
    max-width: 266px;
}

.contact-footer__photo-img {
    width: 100%;
    height: auto;
}
.contact-footer__text {
    justify-self: self-end;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    text-align: left;
    max-width: 40%;
}
.contact-footer__time {
    margin: 0;
    font-size: 20px;
}
.contact-footer__info {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-footer__map {
    margin-right: 20px;
    width: 550px;
    height: 320px;
}
.contact-footer__info-text {
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
}
.contact-footer__link {
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #FFFFFF;
    background: #F84C48;
    border-radius: 4px;
}
.contact-footer__link:hover,
.contact-footer__link:focus {
    color: #fff;
}

@media screen and (max-width: 992px) {
    .contact-header__photo,
    .contact-footer__photo {
        display: none;
    }
    .plugin__comehere__map {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .contact-footer__text {
        padding-left: 0;
        max-width: 50%;
    }
    .contact-footer__map {
        margin-right: 0;
        margin-bottom: 15px;
    }
    
}
@media screen and (max-width: 768px) {
    .contact-header__wrap {
        padding: 20px 0;
        height: initial;
    }
    .contact-header__item {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contact-header__btn {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .contact-body__btn {
        padding: 10px 50px;
        display: inline-block;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        color: #fff;
        background: #1D6E87;
        border: 3px solid #1D6E87;
        border-radius: 4px;
    }
    .contact-body__btn-active {
        color: #1D6E87;
        background: transparent;
    }
    .plugin__comehere__map,
    .contact-footer__map {
        width: 100%;
        height: 410px;
    }
}
@media screen and (max-width: 480px) {
    .contact-footer__text {
        max-width: 80%;
        text-align: center;
    }
    .contact-footer__info-text {
        text-align: center;
    }
}

.document-body__wrap {
    margin-bottom: 20px;
}
.conditions-header__wrap {
    background: #1D6E87;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.conditions-header {
    padding-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.conditions-header__photo {
    margin-right: 150px;
    max-width: 240px;
}
.conditions-header__photo-img,
.guarantee-header__photo-img {
    width: 100%;
    height: auto;
}
.conditions-header__text,
.guarantee-header__text  {
    align-self: center;
}
.conditions-header__title,
.guarantee-header__title,
.privacy-header__title,
.document-header__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    color: inherit;
}
.conditions-body__title,
.guarantee-body__title,
.privacy-body__title,
.document-body__title {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #1D6E87;
}
.conditions-body__menu,
.guarantee-body__menu,
.privacy-body__menu,
.document-body__menu {
    position: sticky;
    top: 0;
    background-color: #fff;
}
.conditions-body__menu::after,
.guarantee-body__menu::after,
.privacy-body__menu::after,
.document-body__menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 100%;
    background: #1D6E87;
    border-radius: 6px;
}
.conditions-body__items,
.guarantee-body__items,
.privacy-body__items {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.conditions-body__item {
    margin-bottom: 1%;
    flex: 0 0 19%;
    color: #fff;
}
.conditions-body__link,
.guarantee-body__link,
.privacy-body__link,
.document-body__link {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    font-size: 9px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
    background: #1D6E87;
    border-radius: 15px;
}
.conditions-body__link:hover,
.conditions-body__link:focus,
.guarantee-body__link:hover,
.guarantee-body__link:focus,
.privacy-body__link:hover,
.privacy-body__link:focus,
.document-body__link:hover,
.document-body__link:focus {
    text-decoration: underline;
    color: inherit;
}
.conditions-body__list,
.guarantee-body__list,
.privacy-body__list,
.document-body__list {
    margin-block-end: 0;
    padding-top: 50px;
    font-size: 14px;
    line-height: 1.2;
}
.conditions-list__title,
.privacy-list__title,
.document-list__title {
    margin-left: 15px;
}
.conditions-list__text,
.privacy-list__text {
    padding-top: 15px;
    margin-left: -15px;
    
}
.conditions-list__text > li,
.guarantee-list__text > li,
.privacy-list__text > li,
.document-list__text > li {
    margin-bottom: 15px;
}
.guarantee-header__wrap,
.privacy-header__wrap {
    margin-bottom: 15px;
    background: #1D6E87;
    color: #FFFFFF;
}
.guarantee-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 275px;
}
.guarantee-header__photo {
    margin-right: 150px;
    max-width: 230px;
}
.guarantee-body__item,
.privacy-body__item,
.document-body__item {
    margin-bottom: 1%;
    color: #fff;
}
.guarantee-list__text a,
.guarantee-list__text a:hover,
.guarantee-list__text a:focus {
    color: #FB1212;
}
.privacy-header,
.document-header {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.document-body__menu {
    padding-top: 35px;
}
.document-body__items {
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.document-header__title-mob {
    display: none;
}
.document-page__wrap {
    background: #1D6E87;
    color: #FFFFFF;
}
.document-search {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.document-search__form {
    border: 1px solid #000;
    border-radius: 4px;
}
.document-form__input {
    padding: 10px;
    min-width: 330px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.document-form__button {
    margin-right: -1px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.1;
    color: #FFFFFF;
    background: #1D6E87;
    border-radius: 4px;
}
.document-list__text {
    padding-top: 20px;
    font-size: 16px;
    text-align: left;
    color: #f84c48;
}
@media screen and (max-width: 992px) {
    .conditions-header__photo,
    .guarantee-header__photo {
        margin-right: 40px;
    }
    .conditions-body__items {
        justify-content: space-around;
    }
    .conditions-body__item {
        flex: 0 0 24%;
    }
}
@media screen and (max-width: 768px) {
    .conditions-header {
        padding-top: 0;
    }
    .conditions-header__title,
    .guarantee-header__title {
        margin: 0;
        padding: 15px 0;
    }
    .guarantee-header {
        height: initial;
    }
    .privacy-header {
        padding-top: 25px;
        padding-bottom: 25px;
        flex-direction: column;
    }
    .conditions-header__photo,
    .guarantee-header__photo {
        display: none;
    }
    .conditions-header__title,
    .guarantee-header__title {
        text-align: center;
    }
    .conditions-body__menu,
    .guarantee-body__menu,
    .privacy-body__menu,
    .document-body__menu {
        position: relative;
    }
    .conditions-body__items {
        justify-content: space-between;
    }
    .conditions-body__item {
        flex: 0 0 49%;
    }
    .conditions-body__list,
    .guarantee-body__list {
        padding-top: 15px;
    }
    .privacy-header__title,
    .document-header__title {
        font-size: 24px;
        text-align: center;
    }
    .document-search {
        margin-bottom: 15px;
    }
    .document-form__input {
        min-width: 200px;
    }
    .document-header__photo,
    .document-header__title {
        display: none;
    }
    .document-header__title-mob {
        display: block;
    }
    .document-search {
        flex-direction: column;
    }
    .document-search__title {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 480px) {
    .guarantee-body__link {
        margin: 0 auto;
        max-width: 80%;
    }
    .document-body__items {
        justify-content: center;
    }
    .document-body__item {
        max-width: 205px;
    }
}
h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.delivery {
    margin-bottom: 20px;
}
.delivery-header__wrap {
    background: #1D6E87;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.delivery-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.delivery-header__photo {
    margin-right: 100px;
    max-width: 220px;
}
.delivery-header__photo-img {
    width: 100%;
    height: auto;
}
.delivery-header__text {
    align-self: center;
}
.deliver-header__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    color: inherit;
}
.delivery__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #1D6E87;
}
.delivery-city__form {
    margin-bottom: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: #1D6E87;
    border-radius: 15px;
}
.delivery-form__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.delivery-city__input {
    margin-bottom: 5px;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #1D6E87;
    border-radius: 15px;
}
.delivery-form__text {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}
.delivery-city__img {
    width: 100%;
    height: auto;
}
.delivery-pickup {
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: #1D6E87;
    color: #fff;
    border-radius: 15px;
}
.pickup-point {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.pickup-point__point-left {
    padding-right: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 0 0 50%;
}
.point-left__point-company {
    margin-right: 25px;
}
.point-company__title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.point-company__wrap {
    display: flex;
    align-items: center;
}
.point-company__image {
    margin-right: 5px;
    max-width: 22px;
    border-radius: 50%;
    overflow: hidden;
}
.point-company__img {
    width: 100%;
    height: auto;
}
.point-company__text {
    display: flex;
    flex-direction: column;
}
.point-company__subtitle {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.point-company__link {
    padding: 3px 5px;
    display: inline-block;
    font-weight: 500;
    font-size: 9px;
    text-decoration-line: underline;
    color: #F84C48;
    background: #FFFFFF;
    border-radius: 15px;
}
.point-left__point-date {
    margin-right: 25px;
}
.point-date__title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
}
.point-date__text {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}
.point-price__title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
}
.point-price__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.pickup-point__point-right {
    flex: 0 0 50%;
}
.point-right__title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 10px;
}
.point-right__point-payment {
    justify-content: space-between;
    display: flex;
}
.point-payment__box {
    text-align: center;
}
.point-payment__image {
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background: #333333;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}
.point-payment__img {
    width: 100%;
    height: auto;
}
.point-payment__text {
    font-size: 10px;
}
.point-info__title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
}
.point-info__text {
    font-size: 10px;
    line-height: 1.1;
}
.delivery__text {
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
}
.free-delivery {
    margin-bottom: 20px;
    padding: 20px 30px;
    background: #EDEDED;
    border-radius: 6px;
}
.free-delivery__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    color: #1D6E87;
}
.free-delivery__subtitle {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.1;
}
.free-delivery__text {
    font-size: 12px;
    line-height: 1.1;
}
.transport-delivery__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3;
}
.transport-delivery__mark {
    position: relative;
    margin-left: 60px;
}
.transport-delivery__mark::before {
    position: absolute;
    top: 0;
    left: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "!";
    width: 32px;
    height: 32px;
    font-size: 26px;
    color: #fff;
    background: #1D6E87;
    border-radius: 50%;
    text-align: center;
}
.postamat-delivery__image {
    border-radius: 6px;
    overflow: hidden;
}
.postamat-delivery__img {
    width: 100%;
    height: auto;
    min-height: 170px;
}
.postamat-delivery__info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.postamat-delivery__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3;
}
.postamat-delivery__title {
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 13px;
    color: #006F79;
}
.postamat-delivery__links {
    display: flex;
    flex-direction: column;
}
.postamat-delivery__link {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.3;
    color: #F84C48;
}
.contacts-delivery__button {
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
.contacts-delivery__btn {
    padding: 10px;
    min-width: 310px;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.2;
    text-align: center;
    color: #1D6E87;
    background: #FFFFFF;
    border: 5px solid #1D6E87;
    border-radius: 6px;
}
.contacts-delivery__btn-active {
    color: #FFFFFF;
    background: #1D6E87;
}
.contacts-delivery__info {
    display: flex;
    flex-wrap: wrap;
}
.contacts-delivery__text-wrap {
    padding-right: 50px;
    flex: 0 0 70%;
}
.contacts-delivery__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
}
.contacts-delivery__companys {
    flex: 0 0 30%;
}
.contacts-delivery__company {
    display: flex;
    align-items: center;
}
.contacts-delivery__company:not(:last-child) {
    margin-bottom: 10px;
}
.contacts-delivery__image {
    margin-right: 20px;
    max-width: 33px;
    max-height: 33px;
    border-radius: 6px;
    overflow: hidden;
}
.contacts-delivery__img {
    width: 100%;
    height: auto;
}
.contacts-delivery__links {
    display: flex;
    flex-direction: column;
}
.contacts-delivery__link {
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #000;
}
@media screen and (max-width: 1200px) {
    .pickup-point__point-left {
        margin-bottom: 20px;
        padding-right: 0;
        flex: 0 0 100%;
    }
    .pickup-point__point-right {
        flex: 0 0 100%;
    }
}
@media screen and (max-width: 992px) {
    .postamat-delivery__img {
        min-height: auto;
    }
}
@media screen and (max-width: 768px) {
    .delivery-header__photo {
        display: none;
    }
    .deliver-header__title {
        padding: 45px 0;
    }
    .delivery-city__form {
        margin-bottom: 10px;
    }
    .delivery-city__image {
        display: none;
    }
    .point-info__title {
        margin-bottom: 20px;
        text-align: center;
    }
    .transport-delivery__text {
        margin-bottom: 40px;
    }
    .postamat-delivery__image {
        margin-bottom: 20px;
    }
    .contacts-delivery__info {
        flex-direction: column;
        align-items: center;
    }
    .contacts-delivery__text-wrap {
        margin-bottom: 30px;
        padding-right: 0;
    }
    .transport-delivery__mark {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 425px) {
    .point-left__point-company {
        margin-right: 5px;
    }
    .point-company__image {
        width: 22px;
    }
    .point-company__link {
        white-space: nowrap;
    }
    .point-left__point-date {
        margin-right: 5px;
    }
    .point-payment__image {
        width: 35px;
        height: 35px;
    }
    .point-payment__text {
        font-size: 6px;
    }
    .point-price__text {
        white-space: nowrap;
    }
}


.certificates-header__wrap {
    margin-bottom: 25px;
    background: #1D6E87;
    color: #FFFFFF;
}
.certificates-header {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.certificates-header__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    color: inherit;
}
.certificates-body__btn-wrap {
    margin-bottom: 15px;
    text-align: center;
}
.certificates-body__btn {
    padding: 15px 0;
    width: 80%;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #1D6E87;
    background-color: #fff;
    border: 4px solid #1D6E87;
    border-radius: 15px;
}
.certificates-body__btn--active {
    color: #fff;
    background-color: #1D6E87;
}
.certificates-gallery__item {
    margin-bottom: 15px;
    padding: 20px 30px;
    background: #FFFFFF;
    border: 3px solid #1D6E87;
    border-radius: 12px;
}
.certificates-gallery__img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.payinfo {
    line-height: 1.3;
}
.payinfo-header__wrap {
    background: #1D6E87;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.payinfo-header {
    padding-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.payinfo-header__photo {
    margin-right: 150px;
    max-width: 270px;
}
.payinfo-header__photo-img {
    width: 100%;
    height: auto;
}
.payinfo-header__text {
    align-self: center;
}
.payinfo-header__title {
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
}
.payinfo-body__boxes {
    margin-bottom: 10px;
}
.payinfo-body__box {
    margin-bottom: 10px;
    height: 100%;
    padding: 15px 35px;
    background: #EDEDED;
    border-radius: 6px;
}
.payinfo-body__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #1D6E87;
}
.payinfo-image__box {
    margin-bottom: 15px;
}
.payinfo-image__image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    background: #333333;
    border-radius: 6px;
}
.payinfo-image__img {
    width: 100%;
    height: auto;
}
.payinfo-image__text {
    display: block;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #1D6E87;
}
.payinfo-body__text {
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}
.payinfo-body__advice {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}
.payinfo-advice__text {
}
.payinfo-credit__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    color: #1D6E87;
}
.payinfo-credit__image {
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #333333;
    border-radius: 6px;
}
.payinfo-credit__img {
    width: 100%;
    max-width: 72px;
    height: auto;
}
.payinfo-credit__card-text {
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}
.payinfo-credit__text {
    font-size: 12px;
    color: #000000;
}
.payinfo-credit__list {
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
}
.payinfo-credit__item {
}
.payinfo-credit__marks {
}
.payinfo-marks__title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}
.payinfo-marks__wrap {
    margin-bottom: 15px;
}
.payinfo-marks__text {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 10px;
    color: #000000;
}
.payinfo-marks__item {
    margin-left: 25px;
    position: relative;
}
.payinfo-marks__item::before {
    position: absolute;
    top: 0;
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "!";
    width: 18px;
    height: 18px;
    font-size: 12px;
    color: #fff;
    background: #1D6E87;
    border-radius: 50%;
    text-align: center;
}
.payinfo-credit__info {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
}
.payinfo-footer__boxes {
    margin-bottom: 15px;
}
.payinfo-footer__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #1D6E87;
}
.payinfo-payment__wrap {
    padding: 30px;
    height: 100%;
    font-size: 18px;
    color: #1D6E87;
    background: #EDEDED;
    border-radius: 6px;
}
.payinfo-paymant__title {
    margin-bottom: 15px;
}
.payinfo-payment__list {
}
.payinfo-payment__item {
    font-weight: 500;
    font-size: 12px;
}
.payinfo-payment__item:not(:last-child) {
    margin-bottom: 15px;
}
.payinfo-payment__info {
    font-size: 12px;
    color: #000000;
}

.service-page {
}
.service-header__wrap {
    margin-bottom: 10px;
    background: #1D6E87;
    color: #FFFFFF;
}
.service-header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.service-header__text {
    align-self: center;
}
.service-header__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    color: inherit;
}
.service-body__wrap {
}
.service-top__wrap {
    margin-bottom: 30px;
    padding: 0 50px;
    background: #EDEDED;
    border-radius: 6px;
}
.service-top__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #1D6E87;
}
.service-top__right-wrap {
    position: relative;
    height: 100%;
    min-height: 115px;
}
.service-top__right {
    position: absolute;
    top: 15%;
    display: flex;
    align-items: flex-end;
}
.service-right__tab {
}
.service-tab__title {
    font-size: 18px;
    color: #1D6E87;
}
.service-tab__buttons {
    display: flex;
}
.service-tab__btn {
    margin-right: 15px;
    padding: 18px 0;
    min-width: 110px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #1D6E87;
    border: 6px solid #1D6E87;
    border-radius: 6px;
    transition: .3s ease;
}
.service-tab__btn:hover,
.service-tab__btn:focus,
.service-tab__btn--active {
    color: #1D6E87;
    background: #FFFFFF;
}
.service-right__certificates {
    
}
.service-right__link {
    padding: 7px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 110px;
    background: #1D6E87;
    border: 6px solid #1D6E87;
    border-radius: 6px;
}
.service-right__link * {
    transition: .3s ease;
}
.service-right__link:hover {
    background: #fff;
}
.service-right__link:hover .service-right__image *{
    stroke: #1D6E87;
}
.service-right__link:hover rect {
    fill: #1d6e87;
    stroke: #1D6E87;
}
.service-right__link-text {
    padding-top: 6px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}
.service-right__link:hover .service-right__link-text {
    color: #1D6E87;
}
.service-bottom__item-one {
}
.service-item__title {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #1D6E87;
}
.service-item__marks {

}
.service-item__text {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.service-item__mark {
    margin-left: 35px;
    position: relative;
}
.service-item__mark::before {
    position: absolute;
    top: -4px;
    left: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "!";
    width: 24px;
    height: 24px;
    font-size: 20px;
    color: #fff;
    background: #1D6E87;
    border-radius: 50%;
    text-align: center;
}
.service-item__list {
}
.service-item__info {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.service-item__info-bold {
    font-weight: 500;
}
.service-item__title-bottom {
    font-weight: bold;
    font-size: 24px;
    color: #1D6E87;
}

.lizing-page {
    line-height: 1.3;
}
.lizing-header__wrap {
    margin-bottom: 20px;
    background: #1D6E87;
    color: #FFFFFF;
}
.lizing-header {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.lizing-header__photo {
    max-width: 160px;
}
.lizing-header__img {
    width: 100%;
    height: auto;
}
.lizing-header__text {
}
.lizing-header__title {
    font-size: 48px;
    color: #FFFFFF;
}
.lizing-body__wrap {
}
.lizing-body__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    color: #1D6E87;
}
.lizing-body__text {
    font-size: 18px;
    color: #000000;
}
.lizing-body__text-bold {
    font-weight: 500;
}
.lizing-body__title-orange {
    color: #E9723B;
}
.lizing-body__list-dash {
}
.list-dash__item {
    list-style-type: '— ';
    list-style-position: inside;
}
.lizing-body__graph {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lizing-graph__box {
    padding: 0 10px;
    display: flex;
    align-items: center;
    max-width: 110px;
    min-height: 195px;
    background: #E9723B;
    border-radius: 6px;
}
.lizing-graph__text {
    display: inline-block;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
}
.lizing-body__list-dote {
    
}
.list-dote__item {
    list-style-type: disc;
    list-style-position: inside;
}
.lizing-body__more {
}
.lizing-body__widget {
}
.lizing-body__list-asterisk {
}
.list-asterisk__item {
    list-style-type: '* ';
    list-style-position: inside;
}
.list-asterisk__item:not(:last-child) {
    margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
    .payinfo-body__box,
    .payinfo-payment__wrap {
        margin-bottom: 10px;
        height: unset;
    }
    .payinfo-credit__image {
        margin-bottom: 10px;
    }
    .service-top__title {
        text-align: center;
    }
    .service-top__right {
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 768px) {
    .certificates-header {
        padding: 20px 0;
    }
    .certificates-header__photo,
    .payinfo-header__photo {
        display: none;
    }
    .certificates-header__text {
        text-align: center;
    }
    .certificates-body__btn {
        width: 100%;
    }
    .certificates-gallery__item {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .payinfo-header__text {
        padding: 70px 0;
    }
    .payinfo-image__image {
        width: 68px;
        height: 68px;
    }
    .payinfo-image__text {
        font-size: 12px;
    }
    .payinfo-marks__item {
        margin-left: 0;
    }
    .payinfo-marks__item::before {
        display: none;
    }
    .service-header__photo {
        display: none;
    }
    .service-top__wrap {
        margin-left: -15px;
        margin-right: -15px;
        padding: 0;
        border-radius: 0;
    }
    .service-item__text {
        font-size: 14px;
        color: #000000;
    }
    .lizing-header {
        padding:  40px 0;
    }
    .lizing-header__photo {
        display: none;
    }
    .lizing-body__title {
        margin-top: 10px;
    }
    .lizing-body__graph {
        flex-wrap: wrap;
    }
    .lizing-graph__box {
        max-width: 100px;
        min-height: 90px;
    }
    .lizing-graph__text {
        font-size: 10px;
    }
}
@media screen and (max-width: 425px) {
    .payinfo-image__image {
        width: 50px;
        height: 50px;
    }
    .payinfo-image__text {
        font-size: 10px;
    }
    .service-tab__title {
        font-size: 14px;
    }
    .service-tab__btn {
        min-width: 80px;
        font-size: 12px;
    }
    .service-right__link-text {
        font-size: 12px;
    }
    .lizing-graph__box {
        margin-bottom: 10px;
        padding: 0 5px;
        max-width: 80px;
    }
    .lizing-graph__text {
        font-size: 8px;
    }
}


.all-reviews {
    margin-bottom: 30px;
}
.all-reviews-header__wrap {
    margin-bottom: 15px;
    background: #1D6E87;
    color: #FFFFFF;
}
.all-reviews-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 275px;
}
.all-reviews-header__photo {
    margin-right: 150px;
    max-width: 230px;
}
.all-reviews-header__photo-img {
    width: 100%;
    height: auto;
}
.all-reviews-header__text {
    align-self: center;
    max-width: 345px;
    text-align: center;
}
.all-reviews-header__title {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}
.all-reviews-header__btn {
    padding: 15px 0;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #F84C48;
    border-radius: 4px;
}
.all-reviews__body {
}
.all-reviews__tabs {
}
.tab-top {
    margin-bottom: 30px;
    position: relative;
}
.tab-top:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -18px;
    height: 8px;
    width: 100%;
    background: #1D6E87;
    border-radius: 6px;
}
.tab-header {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}
.tab-header__item {
    padding: 10px 20px;
    position: relative;
    top: 5px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: #1D6E87;
    border: 5px solid #1D6E87;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    cursor: pointer;
}
.tab-header__item:not(:last-child) {
    margin-right: 5px;
}
.tab-header__item.active {
    color: #1D6E87;
    background-color: #fff;
    border-color: #1D6E87;
   
}
.tab-content {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tab-content__item {
    display: none;
    padding: 20px;
    border: 5px solid #1D6E87;
}
.tab-content__item.active {
    display: block;
 }
.tab__review-title {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.tab__review-text {
    font-size: 10px;
    text-transform: uppercase;
    color: #000000;
}
.tab-letter__link {
    margin-bottom: 15px;
    display: block;
}
.tab-letter__image {
    padding: 20px;
    border: 3px solid #1D6E87;
    border-radius: 12px;
}
.tab-letter__img {
    width: 100%;
    height: auto;
}
.yandex-reviews {
    
}
.yandex-reviews__img {
    width: 100%;
    max-width: 850px;
    height: auto;
}
.vk-reviews__img {
    width: 100%;
    max-width: 850px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .all-reviews-header__photo {
        display: none;
    }
    .tab-header {
        margin-bottom: 35px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .tab-header::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -18px;
        height: 8px;
        width: 100%;
        background: #1D6E87;
        border-radius: 6px;
    }
    .tab-header__item:not(:last-child) {
        margin-right: 0;
    }
    .tab-header__item {
        margin: 0;
        margin-bottom: 15px;
        padding: 10px 20px;
        flex-basis: 40%;
        position: relative;
        top: 5px;
        max-width: 160px;
        min-height: 50px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        background-color: #1D6E87;
        border: 5px solid #1D6E87;
        border-bottom: 5px solid #1D6E87;
        border-radius: 15px;
        cursor: pointer;
    }
    .tab-content__item {
        border: none;
    }
}